<div class="container-fluid">
  <h1>Login</h1>
  <div class="col-lg-6" style="align-items: center; margin:0 auto">
  <input [(ngModel)]="username"
         placeholder="username"
         class="form-control"/>
  <input [(ngModel)]="password"
         placeholder="password"
         class="form-control"/>
  <button (click)="login(username, password)"
          class="btn btn-primary btn-block">
    Login
  </button>
  </div>
  <a routerLink="/register">Register</a>
  <a routerLink="/home">Home</a>
</div>
